/*global*/

@font-face {
    font-family: PassionOne;
    src: url(../global/PassionOne-Bold.otf);
    font-weight: 700;
    text-transform: uppercase;
}

@font-face {
    font-family: NotoSans;
    src: url(../global/NotoSans-Regular.ttf)
}

@font-face {
    font-family: NotoSans;
    src: url(../global/NotoSans-Regular.ttf)
}

@font-face {
    font-family: NotoSans;
    src: url(../global/NotoSans-Regular.ttf)
}

:root {
    --main-purple:#716dff;
    --main-blue:#0997FF;
    --main-black: #000000;
    --main-white: #ffffff;
    --main-gray: #E6E6E6;
}

body {
    background-color: var(--main-black);
    overflow: hidden;
    color: var(--main-white);
}
.container {
    text-align: center;
}

.container-title {
    font-size: 63px;
    color: var(--main-purple);
    font-family: PassionOne;
    letter-spacing: 0.2rem;
}

.container-div {
    display: flex;
    justify-content: space-around;
}

.container-card {
    width: 30%;
    height: 68vh;
    background-color: var(--main-color);
    border: solid 0.5px var(--main-blue)    ;
    border-radius: 20px;
    margin-top: 30px;
}
.container-card:hover {      
    transform: scale(1.1);
    box-shadow: inset 0 0 0.6em var(--main-purple);
    border-color: rgb(113, 89, 193);
}

.lista {
    list-style-type: none;
}

/* Squares */

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.15 );
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0) ;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-800px) rotate(960deg);
    }
}