<!DOCTYPE html>
<html>
    <head>
        <title>Sala de Aula - Professores</title>
        <link href="{{ url_for('static', filename='estilo.css') }}" rel="stylesheet">
    </head>
    <body>

        <div id="interface">
        <figure class="txt">    


        <H1 id="txt"><i>LifeSoftware</i></H1>
        <H2 id="txt1">Cadastro de Professores</H2>
        <p><b>Informe seu nome e RG</b></p>
        <br>
        <form action="/site/professores" method="POST">
            <table>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nome:</td><td><input type="text" id="nome" name="nome" autocomplete="off" /></td>
            </tr>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RG:</td><td><input type="text" id="rg" name="rg" autocomplete="off" /></td>
            </tr>
            </table>
            <br>
            <button type="submit">Cadastrar novo Professor!</button>
            <br>
            <br>
            <br>
        </form>
        <H2>Lista de Professores</H2>
        <div id="professores">
        {% for item in professores %}
        <li>ID: {{ item['id'] }}, Nome: {{ item['nome'] }}, RG: {{ item['rg'] }}</b></li>
        {% endfor %}
        </div>
        <H2>Remover Professores</H2>
        <p><b>Informe seu Id</b></p>
        <form action="/site/professores/delete" method="POST">
            <table>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id:</td><td><input type="text" id="id" name="id" autocomplete="off" size="1"/></td>
            </tr>
            </table>
            <br>
            <button type="submit">Remover Professor!</button>
            <br>
            <br>
            <br>
        </form>
    </figure>
    </body>
</html>
</div>