<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Monitoramento</title>
        <link href="css/estilos.css" rel="stylesheet">
        <link rel="shortcut icon" href="../templates/images/favicon.ico" />
        
    </head>
    <body>
        <div class="container">
            <h1 class="container-title">MONITORAMENTO</h1>
            <div class="container-div">
                <form class="container-card" id="card-professor">
                    <h2>Professores Cadastrados</h2>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                            {  % endfor %}
                        </li>
                    </ul>
                </form>                
                <form class="container-card" id="card-disciplina">
                    <h2>Disciplinas Cadastradas</h2>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                            {  % endfor %}
                        </li>
                    </ul>
                </form>
                <form class="container-card" id="card-aluno">
                    <h2>Alunos Cadastrados</h2>
                    <button id="btn">Load pupils</button>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                            {  % endfor %}                       
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        
        <ul class="squares"></ul>
        
        <script src="../templates/js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </body>
    </html>