<!DOCTYPE html>
<html>
    <head>
        <title>Monitoramento</title>
        <link href="css/estilos.css" rel="stylesheet">
        <link rel="shortcut icon" href="../templates/images/favicon.ico" />
    </head>
    <body>
        <div class="container">
            <h1 class="container-title">MONITORAMENTO</h1>
            <div class="container-div">
                <form class="container-card" id="card-professor">
                    <h2>Professores Cadastrados</h2>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                          {  % endfor %}
                        </li>
                    </ul>
                </form>                
                <form class="container-card" id="card-disciplina">
                    <h2>Disciplinas Cadastradas</h2>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                          {  % endfor %}
                        </li>
                    </ul>
                </form>
                <form class="container-card" id="car-aluno">
                    <h2>Alunos Cadastrados</h2>
                    <ul class="lista">
                        <li>
                            {% for item in professores %}
                        </li>
                        <li>
                            ID: {{ item['id'] }}, Nome: {{ item['nome'] }}
                        </li>
                        <li>
                          {  % endfor %}
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        
        
    </body>
</html>